<a href="https://colab.research.google.com/github/kunallohar862/ElevateLabs_Task1/blob/main/Task1_21_4_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [47]:
data = pd.read_csv('/content/Index2018.csv')
data2 = data

In [48]:
data.head()

         date     spx      dax     ftse    nikkei
0  07-01-1994  469.90  2224.95  3445.98  18124.01
1  10-01-1994  475.27  2225.00  3440.58  18443.44
2  11-01-1994  474.13  2228.10  3413.77  18485.25
3  12-01-1994  474.17  2182.06  3372.02  18793.88
4  13-01-1994  472.47  2142.37  3360.01  18577.26

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6269 entries, 0 to 6268
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6269 non-null   object
 1   spx     6252 non-null   float64
 2   dax     6246 non-null   float64
 3   ftse    6254 non-null   float64
 4   nikkei  6250 non-null   float64
dtypes: float64(4), object(1)
memory usage: 245.0+ KB

In [50]:
data.isnull().sum()

date       0
spx       17
dax       23
ftse      15
nikkei    19
dtype: int64

In [56]:
data['date'] = pd.to_datetime(data['date'], dayfirst = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6269 entries, 0 to 6268
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    6269 non-null   datetime64[ns]
 1   spx     6252 non-null   float64
 2   dax     6246 non-null   float64
 3   ftse    6254 non-null   float64
 4   nikkei  6250 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 245.0 KB

In [57]:
data.set_index('date', inplace=True)
data.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

In [58]:
# Keeping only business days and filtering rest
df_crop = data.asfreq('B')
print(df_crop.shape)
df_crop.head()

(6277, 4)

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

In [59]:
df_crop.isnull().sum()

spx       25
dax       31
ftse      23
nikkei    27
dtype: int64

# **Method 1 Using Foreward Fill**

In [60]:
# foreward fill for missing values
# ffill for foreward fill
# bfill for backward fill
df_crop.fillna(method='ffill', inplace=True)
df_crop.isnull().sum()

<ipython-input-60-55ddfe076d54>:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_crop.fillna(method='ffill', inplace=True)

spx       0
dax       0
ftse      0
nikkei    0
dtype: int64

# **Method 2 Using Mean**

In [ ]:
# prompt: fill missing values in all columns using mean

# Fill missing values with the mean of each column
df_crop.fillna(df_crop.mean(), inplace=True)
df_crop.isnull().sum()
df_crop

In [67]:
data2.isnull().sum()

spx       17
dax       23
ftse      15
nikkei    19
dtype: int64

In [66]:
spx_mean = data['spx'].mean()
dax_mean = data['dax'].mean()
ftse_mean = data['ftse'].mean()
nikkei_mean = data['nikkei'].mean()

In [68]:
data2['spx'] = data2['spx'].fillna(spx_mean)
data2['dax'] = data2['dax'].fillna(dax_mean)
data2['ftse'] = data2['ftse'].fillna(ftse_mean)
data2['nikkei'] = data2['nikkei'].fillna(nikkei_mean)

In [69]:
data2.isnull().sum()

spx       0
dax       0
ftse      0
nikkei    0
dtype: int64